.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        235deg,
        #f9e70a 0%,    /* Vibrant gold highlight */
        #d6b94f 20%,   /* Warm antique gold */
        #6e5f40 45%,   /* Rich bronze-brown */
        #2c3448 70%,   /* Slate blue-gray */
        #0f1b3d 100%   /* Deep midnight navy */
    );
}

.form-card {
    width: 100%;
    max-width: 400px;
    height: 400px;
    background: rgba(77, 80, 87, 0.25);
    padding: 2.5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 16px;
    border: none;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);
    position: relative;
}

.row {
    width: 100%;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}

.row-user {
    margin-bottom: 2em;
}

.row label {
    color: #808080;
    font-weight: 500;
    margin-bottom: 0.5em;
    letter-spacing: 0.5px;
    position: absolute;
    margin: .70em 0 0 1em;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;

}

.row input {
    background: #23272f;
    margin: auto;
    height: 2.5em;
    width: 90%;
    border: 1px solid #2f3540;
    border-radius: 6px;
    color: #fff;
    padding: 0 1em;
    font-size: 12px;
    transition: border-color 0.2s;
    transition: ease .2s;

}

.row input:focus {
    border-color: #ffffff;
    outline: none;
    box-shadow: 0 0 10px 2px rgba(26, 26, 26, 0.815);
}

.row input:focus + label,
.row input:not(:placeholder-shown) + label {
    transform: translate( -8px, -25px);
    transition: ease .2s;
    color: #ffffff;
    font-size: 12px;
    font-weight: 200;
    
}

.last p{
    color: white !important;
    text-decoration: none;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.last a {
    color: #eed72b  !important;
}

.last a:hover {
    color: #9b8d21  !important;
    transition: ease .14s;
}


form .login-btn {
    padding: 10px 4em;
    margin: 10px 5em 2em 5em ;
    background-color: transparent;
    border: 1px solid #d4d4d4;
    color: white;
    border-radius: 3px;
}

form .login-btn:hover {
    background-color:  #ffffff;
    border: 1px solid #ffffff;
    color: #252525;
    border-radius: 3px;
    transition: ease .26s;
}